*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #ffffff;
    font-family: 'Open Sans',sans-serif;
}
.timeline{
    width: 1200px;
    margin: 75px auto;
}
.timeline ul{
    list-style: none;
    margin-left: 120px;
    padding-left: 30px;
    border-left: 8px solid #292929;
}
.timeline li{
    margin: 40px 0;
    position: relative;
}
.timeline input[type=radio]{
    display: none;
}
.timeline label{
    font-size: 1.2em;
    position: absolute;
    top: 20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s linear;
}
.timeline .date{
    position: absolute;
    top: 50%;
    left: -180px;
    margin-top: -10px;
    font-size: 1em;
}
.timeline .circle{
    position: absolute;
    top: 50%;
    left: -44px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 5px solid #292929;
    border-radius: 50%;
}
.timeline .timeline-content{
    max-height: 20px;
    padding: 50px 20px 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
    transition: 0.2s linear;
}
.timeline .timeline-content::before,
.timeline .timeline-content::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    border: solid transparent;
    transition: 0.2s linear;
}
.timeline .timeline-content::before{
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}
.timeline .timeline-content::after{
    border-right-color: #ffffff;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}
.timeline .timeline-content p{
    max-height: 0;
    color: transparent;
    margin-bottom: 15px;
    transition: 0.2s linear;
}
.timeline input[type=radio]:checked + .timeline-element label{
    transform: translateX(42px);
}
.timeline input[type=radio]:checked + .timeline-element .circle{
    background: #48b379;
}
.timeline input[type=radio]:checked ~ .timeline-content{
    max-height: 180px;
    border-color: #292929;
    margin-right: 20px;
    transform: translateX(20px);
}
.timeline input[type=radio]:checked ~ .timeline-content p{
    max-height: 200px;
    color: #000000;
}